In [2]:
import pandas as pd

Series      General	1D labeled homogeneous array, sizeimmutable.
Data Frames	General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
Panel		General 3D labeled, size-mutable array.

In [3]:
x1 = pd.Series('a')#nothing gets created
x2 = pd.Series( ['a' , 'b' , 'c'] ,index = ['Toe' , 'Gil' , 'Pri'] )
OneTo10 = [x for x in range(1,11)]
elvnTo20 = [x for x in range(11,21)]
TwenTo30 = [x for x in range(21,31)]

In [4]:
ser_obj = pd.Series(data=[1,2,3,4] , index=['k','a','r','t'])

In [5]:
ser_obj_1 = pd.Series(data=[4,3,2,1] , index=['a','t','k','r'])

In [6]:
ser_obj_2 = pd.Series(data=[0,9,8,7] , index=['m','a','x','t'])

In [7]:
ser_obj3 = pd.Series(data=[1],index=['k'])

In [8]:
Name = pd.Series(data=["Steve" , "Lia" , "Vin" , "Katie" ])
Age	= pd.Series(data=[32 , 28 , 45 ,38], index=["Steve" , "Lia" , "Vin" , "Katie"])
Gender	= pd.Series(data=["Male" , "Female" , "Male" , "Female"], index=["Steve" , "Lia" , "Vin" , "Katie"])	
Rating = pd.Series(data=[3.45, 4.6, 3.9, 2.78], index=["Steve" , "Lia" , "Vin" , "Katie"])

In [9]:
Age#What is in me

Steve    32
Lia      28
Vin      45
Katie    38
dtype: int64

In [10]:
type(Age)

pandas.core.series.Series

In [11]:
type(Age[1])

numpy.int64

In [12]:
ser_obj

k    1
a    2
r    3
t    4
dtype: int64

In [13]:
type(ser_obj)

pandas.core.series.Series

In [14]:
type(ser_obj[1])

numpy.int64

In [15]:
type(ser_obj['k'])

numpy.int64

To Check the length of the series Object.

In [16]:
len(Name)
len(Age)
len(Gender)
len(Rating)

4

To know how many rows and colums are there in series object! gives out (rows,colums) tuple

In [17]:
type(Name.shape)

tuple

In [18]:
Name.shape

(4,)

know the length of it, gives an integer

In [19]:
Name.size

4

To check the number of total values without including NaN or NA

In [20]:
Name.count()

4

To create a scalar object

In [21]:
Nationality = pd.Series(data ='IN', index=["Steve" , "Lia" , "Vin" , "Katie" ])

In [22]:
Nationality

Steve    IN
Lia      IN
Vin      IN
Katie    IN
dtype: object

To get the unique values from series object

In [23]:
Nationality.unique()

array(['IN'], dtype=object)

In [24]:
Name.unique()

array(['Steve', 'Lia', 'Vin', 'Katie'], dtype=object)

In [25]:
Nationality.value_counts()

IN    4
dtype: int64

In [26]:
Name.value_counts()

Vin      1
Steve    1
Lia      1
Katie    1
dtype: int64

Declaring Values through Dictonories and accessing them

In [27]:
MajorTech = pd.Series({'OneTo10' : OneTo10 , 'elvnTo20' : elvnTo20 , 'TwenTo30' : TwenTo30})
MajorTech

OneTo10              [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
elvnTo20    [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
TwenTo30    [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
dtype: object

In [28]:
MajorTech['OneTo10']# Accessing values with the Key

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
Age["Lia"]# Accessing values with the Key

28

In [30]:
Age[1]# Accessing values through index(memory location/Positional index same as slicing)

28

In [31]:
Age[[1,2]]#Accessing multiple values through Positional index

Lia    28
Vin    45
dtype: int64

In [32]:
Age.take([1,2])#Accessing multiple values through Positional index through take

Lia    28
Vin    45
dtype: int64

In [33]:
len(MajorTech)#Length of the complete Index stored in Series Object

3

In [34]:
len(MajorTech['OneTo10'])# Length of the values stored in one of the index of series object

10

In [35]:
MajorTech['OneTo10'].shape #will throw an error as there is no method such as shape for lists

AttributeError: 'list' object has no attribute 'shape'

In [36]:
type(MajorTech['OneTo10']) ## What is inside the series is a list

list

In [37]:
type(MajorTech) ## this is a direct series object

pandas.core.series.Series

Accessing values of series objects through 'loc' this is useful in a case the index lables are integers.
syntax: Series-Object.loc[['LableNameOfIndex1', 'LableNameOfIndex2' ,....]]

In [38]:
MajorTech.loc[['OneTo10' , 'TwenTo30']]## Accessing multiple values

OneTo10              [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
TwenTo30    [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
dtype: object

To Access the values though their positiona index number use iloc. Series-Object.iloc[['LableNameOfIndex']]

In [39]:
MajorTech.iloc[1]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

TO access all the index

In [40]:
MajorTech.index

Index(['OneTo10', 'elvnTo20', 'TwenTo30'], dtype='object')

To Access all the values

In [41]:
MajorTech.values

array([list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]),
       list([11, 12, 13, 14, 15, 16, 17, 18, 19, 20]),
       list([21, 22, 23, 24, 25, 26, 27, 28, 29, 30])], dtype=object)

To View Top/Bottom n rows

In [42]:
MajorTech.head(2)# TOP
MajorTech.tail(2)# BOTTOM

elvnTo20    [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
TwenTo30    [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
dtype: object

Applying arthmatic opetaions on series object through Pandas. Pandas follows allignment technique which adds the valuse only if it has similar keys in it the other series object. 'k' will be mapped to 'k' , 'a' will be mapped to 'a' and so on. If a Key/Index is not found then the new object will replace the resultants with NaN values. We can consider that intersection of sets is happening. Also, we have to observe that all the keys are arranged in ascending order. Note: Index type should only be intiger64/Float64 but not string or character.

In [43]:
TestA = ser_obj + ser_obj_1

In [44]:
TestA

a    6
k    3
r    4
t    7
dtype: int64

In [45]:
TestB = ser_obj + ser_obj_2

In [46]:
TestB

a    11.0
k     NaN
m     NaN
r     NaN
t    11.0
x     NaN
dtype: float64

In [47]:
MulTestA = ser_obj * ser_obj_1

In [48]:
MulTestA

a     8
k     2
r     3
t    12
dtype: int64

In [49]:
MulTestB = ser_obj * ser_obj_2

In [50]:
MulTestB

a    18.0
k     NaN
m     NaN
r     NaN
t    28.0
x     NaN
dtype: float64

If there are any Duplicate indexes in the the series Object it will create multiple values

In [51]:
SerDup1 = pd.Series(data=[10,20,30,40] , index=['a', 'b' ,'a', 'c'])
SerDup2 = pd.Series(data=[40, 80, 20, 10] , index=['a','b','a','d'])

In [52]:
SerDup3 = SerDup1 + SerDup2
SerDup3

a     50.0
a     30.0
a     70.0
a     50.0
b    100.0
c      NaN
d      NaN
dtype: float64

Arthametic with only a single number

In [53]:
TestC = ser_obj + 10
TestC

k    11
a    12
r    13
t    14
dtype: int64

Adding new Indexing keys

In [54]:
Name.index = ['ida1','ida2','ida3','ida4']

In [55]:
Name

ida1    Steve
ida2      Lia
ida3      Vin
ida4    Katie
dtype: object

In [56]:
Test_rein_1 = pd.Series(data=[100,200,300,400,500],index=['q','a','r','t','x'])

In [57]:
Test_rein_2 = pd.Series(data=[0,0,0,0,0],index=['m','n','l','o','p'])

Re-Indexing is used while assigning the values from an existing series object to cerate a new one. But the given that the indexes should exist in it, else it would be a NaN value.

In [58]:
Test_rein3 = Test_rein_1.reindex(['f','g','h','i','l'])

In [59]:
Test_rein3

f   NaN
g   NaN
h   NaN
i   NaN
l   NaN
dtype: float64

In [60]:
Test_rein4 = Test_rein_1.reindex(['a','r','t'])

In [61]:
Test_rein4

a    200
r    300
t    400
dtype: int64

In [62]:
Test_rein_1 = pd.Series(data=[0,0,0,0,0],index=[1,2,3,4,5])

In [63]:
Test_rein_2 = pd.Series(data=[1,1,1,1,1],index=["1","2","3","4","5"])

In [64]:
err_rein_3 = Test_rein_1 + Test_rein_2

In [65]:
err_rein_3

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

Convert non-intiger or non-float values to TypeCasting as below

In [66]:
Test_rein_2.index = Test_rein_2.index.values.astype(int)

In [67]:
err_rein_3 = Test_rein_1 + Test_rein_2
err_rein_3

1    1
2    1
3    1
4    1
5    1
dtype: int64

Slicing, Updating and Manipulating Values in Series Object

In [68]:
Age

Steve    32
Lia      28
Vin      45
Katie    38
dtype: int64

In [69]:
Age['Karthik'] = 29 ## Adding a value for index Karthik in Age series Object

In [70]:
Age['Vin'] = 30 ##Updating the value for index Vin in Age series Object

In [71]:
Age

Steve      32
Lia        28
Vin        30
Katie      38
Karthik    29
dtype: int64

In [72]:
del(Age['Karthik']) #to delete an index

In [73]:
Age

Steve    32
Lia      28
Vin      30
Katie    38
dtype: int64

Slicing data out of Series object, SeriesObject[ starting positional index : ending positional index - 1 : steps to hop ]
If none are given, complete Series Object will be displayed. The values can be given in negative as well.

    Example:
        1. [ : ending positional index - 1 : steps to hop ] --> displays from start to (ending -1)
        2. [ starting positional index : : steps to hop ] --> displays drom starting till ending
        3. [ starting positional index : ending positional index - 1 : -step ] --> displays indices in reverse order
        4. [From index lable name : To index lable name ]

In [75]:
Age[0:3:1]

Steve    32
Lia      28
Vin      30
dtype: int64

In [76]:
Age[1::1]

Lia      28
Vin      30
Katie    38
dtype: int64

In [89]:
Age[::-1]

Katie    38
Vin      30
Lia      28
dtype: int64

In [91]:
Age['Lia':'Katie']

Lia      28
Vin      30
Katie    38
dtype: int64