In [2]:
import pandas as pd

Series      General	1D labeled homogeneous array, sizeimmutable.
Data Frames	General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
Panel		General 3D labeled, size-mutable array.

In [30]:
x1 = pd.Series('a')#nothing gets created
x2 = pd.Series( ['a' , 'b' , 'c'] ,index = ['Toe' , 'Gil' , 'Pri'] )
OneTo10 = [x for x in range(1,11)]
elvnTo20 = [x for x in range(11,21)]
TwenTo30 = [x for x in range(21,31)]

In [53]:
ser_obj = pd.Series(data=[1,2,3,4] , index=['k','a','r','t'])

In [55]:
ser_obj_1 = pd.Series(data=[4,3,2,1] , index=['a','t','k','r'])

In [56]:
ser_obj_2 = pd.Series(data=[0,9,8,7] , index=['m','a','x','t'])

In [76]:
ser_obj3 = pd.Series(data=[1],index=['k'])

In [9]:
Name = pd.Series(data=["Steve" , "Lia" , "Vin" , "Katie" ])
Age	= pd.Series(data=[32 , 28 , 45 ,38], index=["Steve" , "Lia" , "Vin" , "Katie"])
Gender	= pd.Series(data=["Male" , "Female" , "Male" , "Female"], index=["Steve" , "Lia" , "Vin" , "Katie"])	
Rating = pd.Series(data=[3.45, 4.6, 3.9, 2.78], index=["Steve" , "Lia" , "Vin" , "Katie"])

In [11]:
Age#What is in me

Steve    32
Lia      28
Vin      45
Katie    38
dtype: int64

In [59]:
type(Age)

pandas.core.series.Series

In [58]:
type(Age[1])

numpy.int64

In [60]:
ser_obj

k    1
a    2
r    3
t    4
dtype: int64

In [61]:
type(ser_obj)

pandas.core.series.Series

In [62]:
type(ser_obj[1])

numpy.int64

In [63]:
type(ser_obj['k'])

numpy.int64

To Check the length of the series Object.

In [ ]:
len(Name)
len(Age)
len(Gender)
len(Rating)

To know how many rows and colums are there in series object! gives out (rows,colums) tuple

In [16]:
type(Name.shape)

tuple

In [17]:
Name.shape

(4,)

know the length of it, gives an integer

In [18]:
Name.size

4

To check the number of total values without including NaN or NA

In [19]:
Name.count()

4

To create a scalar object

In [21]:
Nationality = pd.Series(data ='IN', index=["Steve" , "Lia" , "Vin" , "Katie" ])

In [24]:
Nationality

Steve    IN
Lia      IN
Vin      IN
Katie    IN
dtype: object

To get the unique values from series object

In [22]:
Nationality.unique()

array(['IN'], dtype=object)

In [23]:
Name.unique()

array(['Steve', 'Lia', 'Vin', 'Katie'], dtype=object)

In [25]:
Nationality.value_counts()

IN    4
dtype: int64

In [26]:
Name.value_counts()

Katie    1
Lia      1
Vin      1
Steve    1
dtype: int64

Declaring Values through Dictonories and accessing them

In [31]:
MajorTech = pd.Series({'OneTo10' : OneTo10 , 'elvnTo20' : elvnTo20 , 'TwenTo30' : TwenTo30})
MajorTech

OneTo10              [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
elvnTo20    [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
TwenTo30    [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
dtype: object

In [32]:
MajorTech['OneTo10']# Accessing values with the Key

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
Age["Lia"]# Accessing values with the Key

28

In [49]:
Age[1]# Accessing values through index(memory location/Positional index same as slicing)

28

In [50]:
Age[[1,2]]#Accessing multiple values through Positional index

Lia    28
Vin    45
dtype: int64

In [51]:
Age.take([1,2])#Accessing multiple values through Positional index through take

Lia    28
Vin    45
dtype: int64

In [33]:
len(MajorTech)#Length of the complete Index stored in Series Object

3

In [34]:
len(MajorTech['OneTo10'])# Length of the values stored in one of the index of series object

10

In [35]:
MajorTech['OneTo10'].shape #will throw an error as there is no method such as shape for lists

In [36]:
type(MajorTech['OneTo10']) ## What is inside the series is a list

list

In [37]:
type(MajorTech) ## this is a direct series object

pandas.core.series.Series

Accessing values of series objects through 'loc' this is useful in a case the index lables are integers.
syntax: Series-Object.loc[['LableNameOfIndex1', 'LableNameOfIndex2' ,....]]

In [38]:
MajorTech.loc[['OneTo10' , 'TwenTo30']]## Accessing multiple values

OneTo10              [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
TwenTo30    [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
dtype: object

To Access the values though their positiona index number use iloc. Series-Object.iloc[['LableNameOfIndex']]

In [39]:
MajorTech.iloc[1]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

TO access all the index

In [40]:
MajorTech.index

Index(['OneTo10', 'elvnTo20', 'TwenTo30'], dtype='object')

To Access all the values

In [41]:
MajorTech.values

array([list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]),
       list([11, 12, 13, 14, 15, 16, 17, 18, 19, 20]),
       list([21, 22, 23, 24, 25, 26, 27, 28, 29, 30])], dtype=object)

To View Top/Bottom n rows

In [44]:
MajorTech.head(2)# TOP
MajorTech.tail(2)# BOTTOM

OneTo10              [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
elvnTo20    [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
dtype: object

Applying arthmatic opetaions on series object through Pandas. Pandas follows allignment technique which adds the valuse only if it has similar keys in it the other series object. 'k' will be mapped to 'k' , 'a' will be mapped to 'a' and so on. If a Key/Index is not found then the new object will replace the resultants with NaN values. We can consider that intersection of sets is happening. Also, we have to observe that all the keys are arranged in ascending order

In [68]:
TestA = ser_obj + ser_obj_1

In [69]:
TestA

a    6
k    3
r    4
t    7
dtype: int64

In [70]:
TestB = ser_obj + ser_obj_2

In [71]:
TestB

a    11.0
k     NaN
m     NaN
r     NaN
t    11.0
x     NaN
dtype: float64

In [72]:
MulTestA = ser_obj * ser_obj_1

In [73]:
MulTestA

a     8
k     2
r     3
t    12
dtype: int64

In [74]:
MulTestB = ser_obj * ser_obj_2

In [75]:
MulTestB

a    18.0
k     NaN
m     NaN
r     NaN
t    28.0
x     NaN
dtype: float64

If there are any Duplicate indexes in the the series Object it will create multiple values

In [77]:
SerDup1 = pd.Series(data=[10,20,30,40] , index=['a', 'b' ,'a', 'c'])
SerDup2 = pd.Series(data=[40, 80, 20, 10] , index=['a','b','a','d'])

In [79]:
SerDup3 = SerDup1 + SerDup2
SerDup3

a     50.0
a     30.0
a     70.0
a     50.0
b    100.0
c      NaN
d      NaN
dtype: float64

Arthametic with only a single number

In [80]:
TestC = ser_obj + 10
TestC

k    11
a    12
r    13
t    14
dtype: int64

Re-Indexing